<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Francois+One" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />

<div class="bg" style="margin-bottom: 15px;">
	
	<h1 class= "reg" style="margin-bottom: 30px;">Hello, <%= full_name %> ! </h1>

	<p class="links" style="float: right;"><%= link_to "Edit Account", edit_user_registration_path(@user) %> | 
	<%= link_to "Logout", destroy_user_session_path %></p>
	
		<div class="table-account">
			<table>
			<tbody>
				<tr class="row-account"  style="margin-top: 15px;">
					<td class="account-left"> <label> Username: </label> </td>
					<td class="account-right"> <%= @user.username %> </td>
				</tr>
				<tr class="row-account">
					<td class="account-left"> <label> About: </label> </td>
					<td class="account-right"> <%= @user.about %> </td>
				</tr>
				<tr class="row-account">
					<td class="account-left"> <label> Email: </label> </td>
					<td class="account-right"> <%= @user.email %> </td>
				</tr>
			</tbody>
		</table>	
	</div>

	<div style="margin-top: 40px; margin-bottom: 15px; padding-top: 20px; text-align: center;">
	<div style="width: 30%; float: left; border-top: solid 2px #23527c"></div>
	<span  style="font-family: Arvo; font-size: 20px; color:  rgb(8,64,90); font-weight: bold;">UPLOADED RENTALS </span>
	<div style="width: 30%; float: right; border-top: solid 2px #23527c;"></div>
	</div>


	<% if(@user_rentals.length>0) %>
		<div class ="row" style="margin-top: 20px;">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail" style="color: rgb(47, 27, 11);">					
					<% @user_rentals.each do |rental| %>
						<p><%= link_to rental.title, rental_path(rental) %></p>
						<%= link_to (image_tag rental.image.url(:medium), class: 'image'), rental %>
					<% end %>
				</div>
			</div>
		</div>	
	<% end %>
				
	
	<% if(@user_rentals.length<=0) %>
		<p id="norent"> You have not uploaded anything. Advertise now!" </p>				
		<% end %>
</div>
