<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Francois+One" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />

<div class="bg">

<h2 class="reg">Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" id= "checkfield" style="margin-left: 40%;" >
      <%= f.check_box :remember_me, :id=>"checkbox" %>
      <%= f.label :remember_me, :id=>"box_label" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class=>'submit' %>
  </div>
<% end %>

<div id="login_other" style="margin-top: 30px;">
<%= render "devise/shared/links" %>
</div>
</div>
